@model TripWebApplication.Models.Sınıflar.RehberPage

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/breed2/img/favicon.png" type="image/png">
    <link rel="stylesheet" href="~/breed2/css/bootstrap.css">
    <link rel="stylesheet" href="~/breed2/vendors/linericon/style.css">
    <link rel="stylesheet" href="~/breed2/css/themify-icons.css">
    <link rel="stylesheet" href="~/breed2/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/breed2/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/breed2/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/breed2/css/magnific-popup.css">
    <link rel="stylesheet" href="~/breed2/vendors/nice-select/css/nice-select.css">

    <link rel="stylesheet" href="~/breed2/css/style.css">
</head>
<body>

    <section class="portfolio_area section-margin pb-0" id="portfolio">
        <div class="container">
            <div class="filters portfolio-filter">
                <ul>
                    <li class="active" data-filter="*">Hepsi</li>
                    <li data-filter=".following">Oteller</li>
                    <li data-filter=".popular">Restorantlar</li>
                    <li data-filter=".latest"> Müzeler</li>
                </ul>
            </div>
            <div class="filters-content">
                <div class="row portfolio-grid">
                    <div class="grid-sizer col-md-3 col-lg-3"></div>

                    @foreach (var x in Model.OtelList)
                    {
                        <div class="col-lg-6 col-md-6 all following">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="@x.PhotoUrl" alt="">
                                <div class="overlay"></div>
                                <div class="short_info">
                                    <h4><a href="portfolio-details.html">@x.Baslik</a></h4>
                                    <p>@x.Aciklama.Substring(0, 10) ...</p>
                                </div>
                            </div>
                        </div>
                    }

                    @foreach (var y in Model.RestorantList)
                    {
                        <div class="col-lg-6 col-md-6 all popular ">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="@y.PhotoUrl" alt="">
                                <div class="overlay"></div>
                                <div class="short_info">
                                    <h4><a href="portfolio-details.html">@y.Baslik</a></h4>
                                    <p>@y.Aciklama.Substring(0, 10) ...</p>
                                </div>
                            </div>
                        </div>
                    }
                    @foreach (var z in Model.MuzelerList)
                    {
                        <div class="col-lg-6 col-md-6 all latest">
                            <div class="single_portfolio">
                                <img class="img-fluid w-100" src="@z.PhotoUrl" alt="">
                                <div class="overlay"></div>
                                <div class="short_info">
                                    <h4><a href="portfolio-details.html">@z.Baslik</a></h4>
                                    <p>@z.Aciklama.Substring(0, 10) ...</p>
                                </div>
                            </div>
                        </div>
                    }

                    @*<div class="col-lg-3 col-md-6 all latest upcoming">
            <div class="single_portfolio">
                <img class="img-fluid w-100" src="~/breed2/img/portfolio/p3.jpg" alt="">
                <div class="overlay"></div>
                <div class="short_info">
                    <h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
                    <p>Art, Illustration</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 all popular">
            <div class="single_portfolio">
                <img class="img-fluid w-100" src="~/breed2/img/portfolio/p6.jpg" alt="">
                <div class="overlay"></div>
                <div class="short_info">
                    <h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
                    <p>Art, Illustration</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 all popular latest following">
            <div class="single_portfolio">
                <img class="img-fluid w-100" src="~/breed2/img/portfolio/p5.jpg" alt="">
                <div class="overlay"></div>
                <div class="short_info">
                    <h4><a href="portfolio-details.html">Lens Mockup Design</a></h4>
                    <p>Art, Illustration</p>
                </div>
            </div>
        </div>*@
                </div>
            </div>
        </div>
    </section>




    <script src="~/breed2/js/jquery-3.2.1.min.js"></script>
    <script src="~/breed2/js/popper.js"></script>
    <script src="~/breed2/js/bootstrap.min.js"></script>
    <script src="~/breed2/js/stellar.js"></script>
    <script src="~/breed2/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script src="~/breed2/vendors/isotope/isotope-min.js"></script>
    <script src="~/breed2/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/breed2/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/breed2/js/mail-script.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/breed2/js/gmaps.min.js"></script>
    <script src="~/breed2/js/theme.js"></script>

    <script async="" src="../../gtag/js?id=UA-23581568-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script defer="" src="../../beacon.min.js/v8b253dfea2ab4077af8c6f58422dfbfd1689876627854" integrity="sha512-bjgnUKX4azu3dLTVtie9u6TKqgx29RBwfj3QXYt5EKfWM/9hPSAI/4qcV5NACjwAo8UtTeWefx6Zq5PHcMm7Tg==" data-cf-beacon='{"rayId":"7fca753e9f6acb2a","version":"2023.8.0","b":1,"token":"cd0b4b3a733644fc843ef0b185f98241","si":100}' crossorigin="anonymous"></script>
</body>
</html>
