@model TripWebApplication.Models.Sınıflar.Hakkimizda
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("HakkimizdaGuncelle", "Admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.PhotoUrl)
    @Html.TextBoxFor(x => x.PhotoUrl, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />

    <button class="btn btn-success">Güncelle</button>
}
